body {
    heigh:400px;
    background-image: url("https://raw.githubusercontent.com/guidovarela/pd2_2022/main/ejercicio1/img/bg_3229.png");
    background-size: 900px; }   

header{ 
      width:1000px;
      height: 320px;   
      background-image: url(https://raw.githubusercontent.com/guidovarela/pd2_2022/main/ejercicio1/img/header.jpg); 
      display: flex;
      align-items: center;
      justify-content: center;
    ; 
}
.textos {
    width: 80%;
    margin: auto;
    border: white;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 10px;
    margin-top: 1px;
    text-align: left;
}


.footer { 
align-items: center;
}